.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 320px;
}

.clients-section__container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.clients-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.clients-section__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.clients-section__link {
  display: flex;
  max-width: 210px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
    cursor: pointer;
  }
}
.clients-section__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
