// FEATURE-SECTION-----------------

.feature-section {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 320px;
}

.feature-section__container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.feature-section__icon-bock {
  display: flex;
  width: 100%;
  min-height: 120px;
  background-color: $first-background-color;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.feature-section__icon {
  width: 70px;
  height: 70px;
}

.feature-section__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $first-text-color;
  margin-bottom: 10px;
  text-align: center;
}

.feature-section__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text-color;
}
