.is-hidden.backdrop {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}

.is-hidden.backdrop .modal {
  scale: 0.2;
  opacity: 0;
  transform: translate(-150%, -150%);
  transform: rotate(180deg);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $third-text-color;
  transition-property: scale, transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $accent-color;
  }
}

.modal__icon-close {
  width: 18px;
  height: 18px;
}

.modal__top-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $first-text-color;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label-name,
.form__label-tel,
.form__label-email,
.form__label-feedback {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.form__input-name,
.form__input-tel,
.form__input-email {
  padding: 0;
  width: 100%;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    cursor: pointer;
    border: 1px solid $accent-color;
  }
}

.form__textarea {
  padding: 0;
  width: 100%;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  &:focus {
    outline: none;
    cursor: pointer;
    border: 1px solid $accent-color;
  }
}

.form__wrapper {
  position: relative;
  margin-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus-within .modal-input-icon {
    color: var(--accent-color);
  }
}

.form__icon {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
  width: 18px;
  height: 18px;
  .form__wrapper:focus-within & {
    color: $accent-color;
  }
}

.form__textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  resize: none;
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.user-agreement-block {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  align-items: center;
}
.user-agreement-block__label {
  padding-left: 37px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-text-color;
  margin-left: 7px;
  &:hover {
    cursor: pointer;
  }
}

.user-agreement-block__custom-checkbox {
  position: absolute;
  display: block;
  top: 50%;
  left: 14px;
  width: 16px;
  height: 15px;
  transform: translateY(-50%);
  border: 2px solid #000000;
  border-radius: 2px;
  .user-agreement-block__checkbox:focus + & {
    border: 2px solid $accent-color;
  }
  .user-agreement-block__checkbox:checked + & {
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    border: none;
  }
}

.user-agreement-block__link {
  color: $accent-color;
  text-decoration-skip-ink: none;
}

.form__submit-button {
  display: flex;
  padding: 0;
  width: 200px;
  height: 50px;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: 0 auto;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
}

.form__submit-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  text-align: center;
  letter-spacing: 0.06em;
  color: $third-text-color;
}
