.header-section {
  border-bottom: 1px solid $line-color;
}

.header-section.is-open {
  border: none;
  position: relative;
  & ~ * {
    display: none;
  }
  & .mobile-button__icon-menu {
    display: none;
  }
  & .mobile-button__icon-cross {
    display: block;
  }
  & .mobile-button {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  & .logo,
  & .nav-container-list__link.current::after {
    display: none;
  }
  & .nav-container {
    display: block;
  }
  & .nav-container-list {
    display: block;
    margin: 0;
    padding-left: 25px;
    padding-top: 48px;
  }
  & .nav-container-list__link {
    padding-top: 0;
    padding-bottom: 32px;
  }
  & .header-right-list {
    display: block;
    padding-left: 25px;
  }
  & .header-right-list__link {
    display: block;
  }
  & .icon-header {
    display: none;
  }

  & .container {
    display: block;
  }
  & .header-right-list__item:nth-child(1) {
    padding-top: 238px;
  }
  & .header-right-list__link:not(:first-child) {
    padding-top: 32px;
  }

  & .header-right-list__item.mobile-items {
    display: inline-block;
  }
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;

  @media screen and (max-width: 479px) {
    justify-content: space-between;
  }

  .mobile-button__icon-cross {
    display: none;
  }
}

.mobile-button {
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  color: $first-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // transition: color, 2250ms, cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    display: none;
  }
  &:hover {
    color: $accent-color;
  }
}

.mobile-button__svg {
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.nav-container-list {
  display: flex;
  margin-left: 93px;

  @media screen and (max-width: 479px) {
    display: none;
  }
}
.nav-container-list__link {
  display: block;
}
.header-right-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  @media screen and (max-width: 479px) {
    display: none;
  }
}

.icon-header {
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  min-width: 10px;
  min-height: 16px;
}

.header-right-list__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-container-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
.header-right-list__item {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18px;
  letter-spacing: 0.02em;
}

.header-right-list:nth-child(2) {
}

.nav-container-list__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.nav-container-list__link {
  position: relative;
  text-decoration: none;
  color: $first-text-color;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
}

.header-right-list__link {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $second-text-color;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $accent-color;
    outline: none;
  }
}

.header-right-list__item:nth-child(1) .header-right-list__link {
  color: $accent-color;
}
.nav-container-list__link.current {
  color: $accent-color;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    bottom: -1px;
    left: 0;
  }
}
.header-right-list__item.mobile-items {
  display: none;
}

.mobile-social-item {
  display: inline-block;
}
.mobile-social-list {
  display: flex;
}

.mobile-social-list__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
  padding: 32px 10px 32px 11px;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}
.mobile-social-item:nth-child(1) .mobile-social-list__link {
  padding-left: 0;
}
.mobile-social-item:not(:last-child) .mobile-social-list__link::after {
  margin: 0;
  padding: 0;
  content: '';
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  display: inline-block;
  min-width: 1px;
  min-height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}
