.header-section {
  border-bottom: 1px solid $line-color;
  width: 100vw;
  min-width: 320px;
  @media screen and (max-width: 767px) {
    & .container {
      position: relative;
      margin: 0 auto;
    }
  }
}
.nav-container {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header-section.is-open {
    .mobile-menu {
      opacity: 1;
      pointer-events: visible;
      display: block;
    }
    .container {
      display: none;
    }
  }
}

.open-mobile-button,
.close-mobile-button {
  opacity: 1;
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  color: $first-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover {
    color: $accent-color;
  }
}

.mobile-button__svg {
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.nav-container-list {
  display: flex;
  margin-left: 93px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.nav-container-list__link {
  display: block;
}
.header-right-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.icon-header {
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope {
  width: 14px;
  height: 10px;
}

.icon-smartphone {
  width: 10px;
  height: 14px;
  min-width: 10px;
  min-height: 14px;
}

.header-right-list__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-container-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.header-right-list__item {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18px;
  letter-spacing: 0.02em;
}

.nav-container-list__link {
  position: relative;
  text-decoration: none;
  color: $first-text-color;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-right-list__link {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $second-text-color;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.nav-container-list__link.current {
  color: $accent-color;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    bottom: -1px;
    left: 0;
  }
}
