.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 320px;
}

.portfolio-section__container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.portfolio-section__filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.portfolio-section__filter-item {
  margin-right: 8px;
  margin-bottom: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.portfolio-section__filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  color: $first-text-color;
  background-color: first-background-color;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $third-text-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-section__filter-btn.current-btn {
  background-color: $accent-color;
  color: $third-text-color;
}
