.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 320px;
  background-color: $first-background-color;
}

.team-section__container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.team-section__item {
  min-width: 163px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  background-color: $third-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-section__foto {
  width: 100%;
}

.team-section__under-image-block {
  padding: 30px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-section__developer {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $first-text-color;
}

.team-section__developer-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $second-text-color;
  margin-bottom: 16px;
}
.team-section__developers-contact-list {
  align-items: center;
  text-align: right;
  background-color: transparent;
}
.team-section__icon-developer {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.team-section__developers-contact-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $third-text-color;
  }
}

.team-section__developers-contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
