@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-section__container {
    width: 1200px;
  }

  .team-section__item {
    flex-basis: calc(100% / 4 - 30px);
  }
  .team-section__foto {
    height: 260px;
  }
}
