@media screen and (min-width: 768px) {
  .feature-section {
    width: 768px;
  }
  .feature-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .feature-section__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}
