@media screen and (min-width: 768px) {
  .team-section__container {
    width: 768px;
  }
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team-section__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}
