@media screen and (min-width: 768px) {
  .clients-section__container {
    width: 768px;
  }
  .clients-section__list {
    display: flex;
    flex-wrap: wrap;
  }
  .clients-section__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}
