@media screen and (min-width: 1200px) {
  .hero-section {
    width: 100%;
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/desktop/Img-1200.jpg');
  }
  .hero-section__container {
    width: 696px;
  }
  .hero-section__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img/desktop/Img-1200@2x.jpg');
    }
  }
}
