@media screen and (min-width: 768px) {
  .team-section__container {
    width: 768px;
  }
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .team-section__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .team-section__foto {
    height: 374px;
  }
}
