@media screen and (min-width: 1200px) {
  .footer-section {
    width: 100%;
    max-width: 1600px;
  }
  .footer-section__container {
    align-items: baseline;
    width: 1200px;
    margin: 0 auto;
  }
  .footer-section__sub-container {
    padding: 0;
    margin: 0;
  }

  .footer-section__left-part {
    text-align: start;
  }
  .footer-section__center-part {
    margin-left: 70px;
  }

  .footer-section__right-part {
    text-align: start;

    margin: 0;
    margin-left: auto;
  }
  .footer-section__email-input {
    margin-bottom: 0;
    width: 358px;
  }
  .footer-section__email-submit-button {
    display: inline-flex;
    margin: 0;
    margin-left: 12px;
  }
}
