@media screen and (min-width: 768px) {
  .clients-section__container {
    width: 768px;
  }
  .clients-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    margin-left: 0;
  }
  .clients-section__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0;
  }
}
