@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-section__container {
    width: 1200px;
  }
  .clients-section__list {
    margin-bottom: 0;
  }
  .clients-section__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
}
