@media screen and (min-width: 768px) {
  .header-section .container {
    display: flex;
    width: 768px;
  }

  .nav-container {
    align-items: center;
  }

  .nav-container-list {
    margin-left: 88px;
  }

  .nav-container-list__item {
    font-size: 14px;
    line-height: 1.14;
    margin-right: 0;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .header-right-list {
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
  }
  .header-right-list__item {
    font-size: 12px;
    line-height: 1.17;
    margin: 0;
  }
  .header-right-list__link {
    display: flex;
    align-content: center;
    .header-right-list__item:nth-child(1) & {
      padding-top: 21px;
      padding-bottom: 0;
      margin-bottom: 10px;
    }
    .header-right-list__item:nth-child(2) & {
      padding-top: 0;
      padding-bottom: 21px;
    }
  }
}
