@media screen and (min-width: 1200px) {
  .header-section .container {
    width: 1200px;
  }
  .nav-container-list {
    margin-left: 93px;
  }

  .header-right-list {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
  .header-right-list__item:nth-child(2) {
    margin-left: 30px;
  }
  .header-right-list .header-right-list__item .header-right-list__link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    align-items: center;
    padding: 32px 0;
  }
  .icon-envelope {
    width: 16px;
    height: 12px;
  }

  .icon-smartphone {
    width: 10px;
    height: 16px;
  }
}
