@media screen and (min-width: 1200px) {
  .feature-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .feature-section__container {
    width: 1200px;
  }

  .feature-section__item {
    flex-basis: calc(100% / 4 - 30px);
  }
  .universal-title {
    margin-bottom: 50px;
  }
}
